@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import 'https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i';
@import 'https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700';

*{
    margin: 0;
    padding: 0;
}
.fontFamily{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Poppins', sans-serif;
}
body{
    margin:0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}
a,a:hover,a:active,a:visited{
    text-decoration: none !important;
    outline-style: none;
}
nav,ul,li,a,h1,h2,h3,h4,h5,h6,table,tr,td,p,span,label{
    margin: 0;
    list-style: none;
    padding: 0;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}
p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}
/*=====================================
/CommonSec
======================================*/
.Common{
    height: 100%;
    padding: 80px 0 0;
    width: 100%;
}
.Common h2{
    color: #333;
    font-size: 28px;
    font-weight: 700;
    padding: 0 0 11px;
    text-transform: uppercase;
}
.Common span{
    background: #f7465b none repeat scroll 0 0;
    display: block;
    height: 3px;
    margin: 0 auto;
    width: 70px;
}
.Common p{
    color: #333;
    font-size: 14px;
    font-weight: 300;
    padding: 12px 0 62px;
}
/*========================
/CommonSec End here
==========================*/


/*========================
/Overlay Section start
==========================*/

.Secoverlay{
    position: relative;
    width: 100%;
    height: 100%;
}
.Secoverlay:before{
    background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: .75;
    position: absolute;
    top: 0;
    transition: all 0.8s ease 0s;
    width: 100%;
}
/*========================
/Overlay End here
==========================*/

/*========================
/Margin & Padding Setting Start here
==========================*/
.noPadding{
    padding-left: 0 !important;
    padding-right: 0 !important;
}
.noPaddingLeft{
    padding-left: 0 !important;
}
.noPaddingRight{
    padding-right: 0 !important;
}
/*========================
/Margin & Padding Setting End here 
==========================*/

/*==========================
/Fixed all Element Start here
=============================*/
.MenuBar{
    width: 100%;
    height: 100%;
}
.FixedMenu{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    background: #33302D;
}
.BackTo{
    background: #33302D none repeat scroll 0 0;
    bottom: 35px;
    color: #979797;
    cursor: pointer;
    font-size: 20px;
    height: 40px;
    position: fixed;
    right: 20px;
    text-align: center;
    width: 50px;
    z-index: 9;
    -webkit-transition:all 500ms ease;
    -moz-transition:all 500ms ease;
    -ms-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease;
}
.BackTo:hover{
    background: #CC6699;
}
.BackTo a{
    color: #fff;
    font-size: 30px;
    font-weight: 700;
    margin-top: 2px;
}
.Searchfixed{
    position: fixed;
    right: -150px;
    top: 39px;
    z-index: 1;
    transition: .8s;
}
.FixedSearch{
    background: #b5967f none repeat scroll 0 0;
    border: 1px solid #fff;
    height: 30px;
    width: 148px;
    font-size: 14px;
    color: #fff;
    padding: 5px 0 5px 6px;
}
.fixedHeader{
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    background: #F8F8F8;
}
/*==========================
/Fixed all Element end here
=============================*/
